<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TectTec</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/post.css">
</head>
<body>
    <header class="navigation_header">
        <header class="navigation_header">
            <a href="home.html">
                <img src="../static/images/la_user.png" alt="" class="user">
            </a>
            <a href="home.html">
                <img src="../static/images/notificacao.png" alt="" class="user">
            </a>
    
            <img src="../static/images/logo.png" alt="" class="img_logo" id="logo">
    
            <a href="home.html">
                <img src="../static/images/explorar.png" alt="" class="user">
            </a>
    
            <a href="#" id="open-Button">
                <img src="../static/images/vector5.png" alt="" class="user">
            </a>
        </header>
    </header>

    <div class="postagem">
        <textarea type="text" class="inputTitle" placeholder="Escreva o título aqui :)"></textarea>
        <br>
        <textarea class="inputPostagem" placeholder="Conteúdo da postagem"></textarea>
    </div>
    <div class="buttons">
        <button class="Salvar"> Salvar</button>
        <button class="Publicar">Publicar</button>
    </div>
    
</body>
</html>